.section {
  background-color: $off-white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;

  h1 {
    font-family: $font-family;
    font-size: $section-title-size;
    font-weight: 300;
    text-align: center;
    color: $title-color;
  }

  &.works {
    padding-top: 35px;

    .cards {
      @include columns(3, 20px);
      width: 940px;
      padding-top: 35px;
      margin: auto;

      @media (max-width: 940px) {
        @include columns(1, 20px);
        width: calc(100% - 20px);
      }
      .card {
        @include transition(0.15s all ease-in-out);
        background-color: $white;
        border-radius: 3px;
        border: 1px solid $border-color;
        overflow: hidden;
        text-decoration: none;

        &:hover {
          border: 1px solid $primary-color;
        }
        .thumbnail {
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
        .details {
          padding-top: 20px;
          padding-bottom: 30px;
          text-align: center;

          .work-title {
            font-family: $font-family;
            font-size: $h-subtitle-size;
            color: $title-color;
            margin-bottom: 6px;
          }
          .work-tag {
            font-family: $font-family;
            font-size: $section-text-size;
            color: $text-color;
          }
        }
      }
    }
  }
  .sub-section {
    margin-top: 103px;
  }
  .get-in-touch {
    background-color: $grey;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    .content {
      @include columns(2, 20px);
      margin: auto;
      width: 700px;

      .left {
        padding-top: 76px;

        .title {
          text-align: left;
        }
        .text {
          text-align: left;
          margin-bottom: 35px;
        }
      }
      .right {
        padding-top: 20px;
        margin-bottom: -3px;
        img {
          width: 100%;
        }
      }
      @media (max-width: 940px) {
        @include columns(1, 20px);
        width: calc(100% - 40px);

        .left {
          padding-top: 70px;

          .title,
          .text {
            text-align: center;
          }
          .btn-container {
            text-align: center;
          }
          .right {
            margin: auto;
          }
        }
      }
    }
  }
}