<div class="header">
  <div class="content">
    <h1 class="title">Jesse Litton</h1>
    <h2 class="subtitle">Designer &amp; Front-End Developer</h2>
    <div class="social-icons">
      <% link_to 'http://www.twitter.com/nottil', :target => '_blank' do %>
        <%= svg 'twitter_icon' %>
      <% end %>
      <% link_to 'http://www.instagram.com/jlitton', :target => '_blank' do %>
        <%= svg 'instagram_icon' %>
      <% end %>
      <% link_to 'http://www.dribbble.com/jlitton', :target => '_blank' do %>
        <%= svg 'dribbble_icon' %>
      <% end %>
      <% link_to 'http://www.github.com/jlitton', :target => '_blank' do %>
        <%= svg 'github_icon' %>
      <% end %>
    </div>
  </div>
</div>