.projects_startclosing {
  .header {
    background-color: $startclosing;
  }
}

.projects_ibm {
  .header {
    background-color: $ibm;
  }
}

.projects_epson {
  .header {
    background-color: $epson;
  }
}