$primary-color: #3C9DB9;
$white: #ffffff;
$off-white: #F0F3F5;
$grey: #DCE4E8;
$border-color: rgba(0, 0, 0, 0.12);

// Typography
$title-color: #2E3B4E;
$text-color: #5F6A7D;

// Project Colors
$startclosing: #45C277;
$ibm: #3A4450;
$epson: #0078DA;